footer{
  padding: 100px 0 60px;
  font-size: 14px;
  height: auto;
}
#reference {

  max-width: 1700px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  font-size: 14px;
}
#reference h1 {

  grid-column: 1;
  grid-row: 1;
  background-image: url(../img/svg/logo.svg);
  width: 126px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0px;
  margin-bottom: 15px;
}
#reference ul {

}
#reference ul li {

  line-height: 1.5;
}
#reference ul li span.re1{
  font-weight: 700;
  margin-right: 10px;
}
#reference ul li span.re2{
  font-weight: 700;
}
#reference ul:nth-child(2){
  
  grid-column: 3;
  grid-row: 1;
  display: flex;
  justify-content: end;
}
#reference ul:nth-child(3){
  
  grid-column: 3;
  grid-row: 2;
  display: flex;
  justify-content: end;
}
#reference ul:nth-child(4){
  
  grid-column: 1;
  grid-row: 3 / span 2;
  /*! display: flex; */
}
#reference ul div.qq{
  
  display: flex;
  margin-bottom: 7px;
}
#reference ul li span.re {
  
  margin-right: 10px;
}
#reference ul li span.re::before{
  content: "│";
  
  margin: 0 10px;
  color: #ccc;
}
#reference p {

  grid-column: 1;
  grid-row: 5;
  margin-top: 30px;
}