#reference{a:b;
    h1{a:b;

    }
    ul{a:b;
        li{a:b;

        }
    }
    ul{a:b;
        li{a:b;
            span.re{a:b;

            }
        }
    }
    p{a:b;

    }
}